html, body, #root, #feedContainer, #mainEmulatorContainer {
  width: 100%;
  height: 100%;
}

#feedContainer {
  /* Need to setup the width to be minus 40px in order to account for the margins. */
  /* This calculation comes from the margins here as well as the padding on the post questions, which amounts to 40px total from both sides. */
  width: 100%;
  /* overflow-y: scroll; */
}

body {
  margin: 0;
  overflow-y: scroll;
}

.post-buttons {
  padding-bottom: 1rem;
}

.popup-content {
  border-radius: .25rem;
}

#feedContainer > :first-child {
  margin-top: 10px;
}

body.dialog-shown {
    overflow-y: hidden;
}