.single-image-view-prompt {
    text-align: center;
}

.single-image-view-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.single-image-view-cell {
    width: 75%;
    margin: auto;
}