#brick-wall-cigar-container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#slider {
    width: 100%;
    margin: 10px auto;
}

#brick-wall-canvas {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#brick-wall-title {
    text-align: center;
    margin: 10px auto;
}

.brick-wall-paragraph {
    margin: 5px auto;
}

#brick-wall-subtitle {
    text-align: center;
    margin: 5px auto;
}
